@use '../../styles/helpers/' as *;

.header {
    padding-block: rem(25);
    background-color: var(--color-violet);

    &__imgLink {
        display: flex;
        align-items: center;
    }

    &__titleBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: var(--borderGrey);
        padding-bottom: rem(20);

        @include tablet {
            align-items: start;
            padding-bottom: rem(10);
        }
    }

    &__title {
        display: flex;
        column-gap: rem(40);
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__link {
        font-size: rem(14);
    }

    &__linkBac {
        font-size: rem(14);
        display: flex;
        align-items: center;
        column-gap: rem(10);
    }

    &__body {
        background: url(../../assets/images/back-текст.png) 56%59%/80% no-repeat;
    }

    &__bodyDiv {
        max-width: rem(580);
        padding-block: rem(100);
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: rem(20);

        @include mobile {
            padding-block: rem(20);
        }
    }

    &__bodyTitle {
        color: var(--color-light);
    }

    &__descTitle {
        color: var(--color-light);
        font-size: rem(16);
    }

    &__menu {
        @include tablet {
            display: none;
        }
    }

    &__menuButton {
        display: none;

        @include tablet {
            padding-block: rem(10);
            display: flex;
            flex-direction: column;
            align-items: end;
            row-gap: rem(4);
            background-color: transparent;
            border: none;
        }
    }

    &__span {
        width: rem(35);
        height: rem(3);
        background-color: var(--color-light);
        border-radius: rem(4);

        &:nth-child(3) {
            width: rem(25);
        }
    }

    &__titleMenu {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: rem(10);
        max-height: 0;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
    }

    &__MenuOpen {
        max-height: rem(210);
        opacity: 1;
        pointer-events: all;
    }

    &__open {
        display: none;

        @include tablet {
            display: flex;
            flex-direction: column;
            row-gap: rem(20);
        }
    }
}
