@use '../../../styles/helpers/' as *;

.catalog {
    padding-block: rem(60);
    display: flex;
    align-items: start;
    column-gap: rem(20);

    @include tablet {
        justify-content: space-between;
    }

    @include mobile {
        column-gap: 0;
    }

    &__title {
        display: flex;
        flex-direction: column;
        row-gap: rem(20);
        padding: rem(20);
        background-color: var(--color-secBg);
        border-radius: rem(4);

        @include mobile {
            row-gap: rem(10);
            padding: rem(10);
            max-width: 0;
            opacity: 0;
            transition: 0.3s;
            pointer-events: none;
        }
    }

    &__h2 {
        font-size: rem(24);
        font-weight: 400;
        color: var(--color-greyText);

        @include mobile {
            display: none;
        }
    }

    &__blockP {
        font-size: rem(16);
    }

    &__inputBlock {
        margin-top: rem(10);
        display: flex;
        align-items: center;
    }

    &__line {
        background-color: var(--color-grey);
        height: rem(30);
        width: rem(1);
    }

    &__inpt2 {
        padding-top: rem(10);
        padding-left: rem(40);
        max-width: rem(120);
        background-color: transparent;
        border: none;
        border-top: rem(1) solid var(--color-grey);
        border-right: rem(1) solid var(--color-grey);
        border-top-right-radius: rem(4);
        font-family: var(--font-family-base);
        font-size: rem(16);
    }

    &__inpt1 {
        padding-top: rem(10);
        padding-left: rem(40);
        max-width: rem(120);
        background-color: transparent;
        border: none;
        border-top: rem(1) solid var(--color-grey);
        border-left: rem(1) solid var(--color-grey);
        border-top-left-radius: rem(4);
        font-family: var(--font-family-base);
        font-size: rem(16);
    }

    &__rangeInpt::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: rem(5);
        height: rem(15);
        margin-top: rem(-4.5);
        border: none;
        border-radius: rem(4);
        background: var(--color-grey);
    }

    &__rangeInpt::-webkit-slider-runnable-track {
        box-sizing: border-box;
        height: rem(4);
        border-radius: rem(4);
        background-color: var(--color-grey);
    }

    &__rangeBlock {
        display: flex;
    }

    &__rangeInpt {
        -webkit-appearance: none;
        appearance: none;
        margin-left: rem(-6);
    }

    &__checkBlock {
        display: flex;
        flex-direction: column;
        row-gap: rem(10);
    }

    &__blockCheck {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__divCheck {
        display: flex;
        align-items: center;
        column-gap: rem(10);
        flex-direction: row-reverse;
    }

    &__checkBox {
        display: flex;
        align-items: center;
        justify-content: center;
        appearance: none;
        background-color: transparent;
        width: rem(24);
        aspect-ratio: 1;
        border: var(--borderCheckbox);
        border-radius: rem(4);

        @include mobile {
            row-gap: rem(5);
        }

        &:not(:checked) {
                &::after {
                    @include hide;
                }
            }

            &::after {
                content: '';
                width: rem(15);
                height: rem(12);
                background: url('../../../assets/icons/GroupCheckbox.svg') center/cover no-repeat;
                transition-duration: var(--transition-duration);
            }
    }

    &__sizeBlock {
        display: flex;
        flex-direction: column;
        row-gap: rem(10);
    }

    &__blockGrid {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }

    &__button {
        padding: rem(25);
        background-color: transparent;
        font-family: var(--font-family-base);
        font-size: rem(16);
        border: var(--borderCheckbox);

        @include mobile {
            padding: rem(16);
        }
    }

    &__active {
        background-color: var(--color-small);
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(40);
        z-index: 1;
    }

    &__bodyGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: rem(20);
        column-gap: rem(20);

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__bodyCard {
        position: relative;
        border: none;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        row-gap: rem(10);
        align-items: start;
        border-radius: rem(4);
    }

    &__bodyPrace {
        font-size: rem(20);
        color: var(--color-greyText);
        font-weight: 600;
    }

    &__buttonShow {
        display: none;

        @include mobile {
            padding-block: rem(60);
            display: flex;
            align-items: center;
            position: sticky;
            top: calc(100% - 60%);
            right: calc(100% - 0%);
            height: rem(40);
            z-index: 2;
            width: rem(40);
            border: none;
        }
    }

    &__buttonHide {
        max-width: rem(300);
        opacity: 1;
        pointer-events: all;
    }

    &__buttonSvg {
        width: rem(30);
    }

    &__cardShow {
        padding-block: rem(60);
            display: none;
            align-items: center;
            position: sticky;
            top: calc(100% - 60%);
            right: calc(100% - 0%);
            height: rem(40);
            z-index: 2;
            width: rem(40);
            border: none;

            @include mobile {
                display: flex
            }
    }

    &__buttonVissualy {
        @include visually-hidden;
    }

    &__div {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(40);
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.6);
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95);
        transition:
          opacity 0.25s ease,
          transform 0.25s ease,
          visibility 0.25s ease;

        &__buttonShow {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-greyText);
            width: rem(80);
            aspect-ratio: 1;
            border: none;
            border-radius: 50%;

            &:hover {
                background-color: var(--color-small);
                transform: scale(1.1);
            }
        }

        &__buttonSvg {
            color: var(--color-light);
        }
    }

    &__divActive {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    &__modal {
        z-index: 10;
        position: fixed;
        inset: 0;
        background: rgba(68, 75, 88, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__modalDiv {
        background: var(--color-light);
        padding: rem(40);
        border-radius: rem(4);
        min-width: rem(1140);

        &__div1 {
            display: flex;
            justify-content: space-between;

            &__blockImg {
                display: flex;
                flex-direction: column;
                row-gap: rem(20);

                &__flexImg {
                    display: flex;
                    column-gap: rem(20);
                }
            }

            &__block {
                max-width: rem(430);
                display: flex;
                flex-direction: column;
                row-gap: rem(15);

                &__block1 {
                    display: flex;
                    justify-content: start;
                    column-gap: rem(47);
                    
                    &__desc {
                        font-size: rem(16);
                        color: var(--color-grey);
                    }
                }

                &__block2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    row-gap: rem(20);

                    &__title {
                        font-size: rem(24);
                        line-height: 140%;
                        color: var(--color-greyText);
                    }

                    &__blockSvg {
                        display: flex;
                        column-gap: rem(4);

                        &__svg {
                            color: var(--color-primary);
                        }
                    }

                    &__select {
                        font-size: rem(16);
                        color: var(--color-greyText);
                    }

                    &__blockButton {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        column-gap: rem(20);
                        row-gap: rem(20);

                        &__btn {
                            padding: rem(9) rem(26);
                            font-size: rem(14);
                            font-weight: 600;
                            color: var(--color-greyText);
                            border: rem(1) solid var(--color-grey);
                            border-radius: rem(4);
                            background-color: transparent;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                        &__btnActive {
                            background-color: var(--color-small);
                        }
                    }
                }

                &__block3 {
                    @include fluid-text(30, 26);

                    font-weight: 700;
                    color: var(--color-greyText);
                }

                &__block4 {
                    display: flex;
                    flex-direction: column;
                    row-gap: rem(20);

                    &__ul {
                        display: flex;
                        flex-direction: column;
                        row-gap: rem(10);
                    }

                    &__p {
                        display: flex;
                        align-items: center;
                        column-gap: rem(10);
                        font-size: rem(14);
                        color: var(--color-grey);

                        &::before {
                            content: '';
                            width: rem(15);
                            height: rem(12);
                            background: url('../../../assets/icons/VectorModal.svg') center/cover no-repeat;
                        }
                    }
                }
            }
        }

        &__div2 {
            padding-top: rem(40);
            display: flex;
            justify-content: space-between;

            &__block1 {
                display: flex;
                flex-direction: column;
                row-gap: rem(20);

                &__desc {
                    font-size: rem(24);
                    color: var(--color-greyText);
                }

                &__description {
                    max-width: rem(430);
                    font-size: rem(16);
                    line-height: 140%;
                    color: var(--color-greyText);
                }
            }

            &__block2 {
                display: flex;
                flex-direction: column;
                row-gap: rem(20);

                &__cell {
                    display: flex;
                    flex-direction: column;
                    row-gap: rem(10);

                    &__p {
                        font-size: rem(16);
                        color: var(--color-greyText);
                    }
                }
            }
        }
    }
}

@media(max-width: 488px) {
    .catalog__bodyGrid {
        grid-template-columns: 1fr;
    }
}