@use '../../../styles/helpers/' as *;

.questions {
    padding-block: rem(60);

    @include mobile {
        padding-block: rem(30);
    }

    &__div {
        // border-bottom: rem(1) solid var(--color-greyText);
        display: flex;
        flex-direction: column;
        row-gap: rem(40);

        &__h {
            @include fluid-text(30, 24);

            font-weight: 700;
            color: var(--color-greyText);
        }

        &__card {
            width: 100%;
            border-top: rem(1) solid var(--color-greyText);
            padding-block: rem(30);
            display: flex;
            flex-direction: column;
            row-gap: rem(15);

            &__container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__desc {
                    font-size: rem(20);
                    font-weight: 700;
                    color: var(--color-greyText);
                }
            }

            &__p {
                font-size: rem(16);
                max-height: 0;
                opacity: 0;
                transition: all 0.3s;
            }

            &__pShow {
                max-height: rem(20);
                opacity: 1;
                transition: all 0.3s;

                @include mobile {
                    max-height: rem(60);
                }
            }
        }
    }
}